In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


print(pd.__version__)

3.0.0

In [13]:
data = pd.read_csv('../data/DMSC.csv', encoding='utf-8')

data.iloc[:10, :]

,ID,Movie_Name_EN,Movie_Name_CN,Crawl_Date,Number,Username,Date,Star,Comment,Like
0,0,Avengers Age of Ultron,复仇者联盟2,2017-01-22,1,然潘,2015-05-13,3,连奥创都知道整容要去韩国。,2404
1,1,Avengers Age of Ultron,复仇者联盟2,2017-01-22,2,更深的白色,2015-04-24,2,非常失望，剧本完全敷衍了事，主线剧情没突破大家可以理解，可所有的人物都缺乏动机，正邪之间、...,1231
2,2,Avengers Age of Ultron,复仇者联盟2,2017-01-22,3,有意识的贱民,2015-04-26,2,2015年度最失望作品。以为面面俱到，实则画蛇添足；以为主题深刻，实则老调重弹；以为推陈出...,1052
3,3,Avengers Age of Ultron,复仇者联盟2,2017-01-22,4,不老的李大爷耶,2015-04-23,4,《铁人2》中勾引钢铁侠，《妇联1》中勾引鹰眼，《美队2》中勾引美国队长，在《妇联2》中终于...,1045
4,4,Avengers Age of Ultron,复仇者联盟2,2017-01-22,5,ZephyrO,2015-04-22,2,虽然从头打到尾，但是真的很无聊啊。,723
5,5,Avengers Age of Ultron,复仇者联盟2,2017-01-22,6,同志亦凡人中文站,2015-04-22,3,剧情不如第一集好玩了，全靠密集笑点在提神。僧多粥少的直接后果就是每部寡姐都要换着队友谈恋爱...,671
6,6,Avengers Age of Ultron,复仇者联盟2,2017-01-22,7,Danny,2015-04-23,2,只有一颗彩蛋必须降一星。外加漫威的编剧是有心无力了吧。复仇者联盟只能永远着手与团队的和与不...,641
7,7,Avengers Age of Ultron,复仇者联盟2,2017-01-22,8,gYroS,2015-04-28,2,看腻了这些打来打去的烂片,576
8,8,Avengers Age of Ultron,复仇者联盟2,2017-01-22,9,tidd熊,2015-04-23,3,漫威粉勿喷，真感觉比第一部差了些火候。没想到奥创竟然这么弱，出来失望之极。。。,481
9,9,Avengers Age of Ultron,复仇者联盟2,2017-01-22,10,桃桃淘电影,2015-05-12,3,属于超级英雄的春晚，角色如走马灯一样出场。眼花缭乱的同时却没办法给人留下太深印象。这部内容...,443

In [7]:
print(len(data))

2125056

In [10]:
print(data['Movie_Name_CN'].value_counts())

Movie_Name_CN
疯狂动物城     137511
大圣归来      133393
后会无期      120200
寻龙诀       113687
你的名字      113260
夏洛特烦恼     109162
釜山行       102876
爱乐之城       96620
西游伏妖篇      91452
小时代1       88903
泰囧         85677
大鱼海棠       83692
长城         83173
西游降魔篇      79962
复仇者联盟      78281
美人鱼        73882
七月与安生      68359
美国队长3      64410
变形金刚4      58746
复仇者联盟2     54153
十二生肖       46233
九层妖塔       44366
小时代3       41152
左耳         39802
湄公河行动      35093
栀子花开       30475
何以笙箫默      26797
钢铁侠1       23739
Name: count, dtype: int64

In [29]:
ls = []
for e in data['Star']:
    ls.append(1 if e > 3 else 0)
print(ls[:10])
data['Label'] = ls
data.iloc[:5, :]

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0]

,ID,Movie_Name_EN,Movie_Name_CN,Crawl_Date,Number,Username,Date,Star,Comment,Like,Label
0,0,Avengers Age of Ultron,复仇者联盟2,2017-01-22,1,然潘,2015-05-13,3,连奥创都知道整容要去韩国。,2404,0
1,1,Avengers Age of Ultron,复仇者联盟2,2017-01-22,2,更深的白色,2015-04-24,2,非常失望，剧本完全敷衍了事，主线剧情没突破大家可以理解，可所有的人物都缺乏动机，正邪之间、...,1231,0
2,2,Avengers Age of Ultron,复仇者联盟2,2017-01-22,3,有意识的贱民,2015-04-26,2,2015年度最失望作品。以为面面俱到，实则画蛇添足；以为主题深刻，实则老调重弹；以为推陈出...,1052,0
3,3,Avengers Age of Ultron,复仇者联盟2,2017-01-22,4,不老的李大爷耶,2015-04-23,4,《铁人2》中勾引钢铁侠，《妇联1》中勾引鹰眼，《美队2》中勾引美国队长，在《妇联2》中终于...,1045,1
4,4,Avengers Age of Ultron,复仇者联盟2,2017-01-22,5,ZephyrO,2015-04-22,2,虽然从头打到尾，但是真的很无聊啊。,723,0

In [30]:
drop = ['ID', 'Movie_Name_EN', 'Movie_Name_CN', 'Crawl_Date', 'Number', 'Username', 'Date', 'Star', 'Like']
data = data.drop(drop, axis=1)
data.iloc[:5, :]

                                             Comment  Label
0                                      连奥创都知道整容要去韩国。      0
1   非常失望，剧本完全敷衍了事，主线剧情没突破大家可以理解，可所有的人物都缺乏动机，正邪之间、...      0
2   2015年度最失望作品。以为面面俱到，实则画蛇添足；以为主题深刻，实则老调重弹；以为推陈出...      0
3   《铁人2》中勾引钢铁侠，《妇联1》中勾引鹰眼，《美队2》中勾引美国队长，在《妇联2》中终于...      1
4                                  虽然从头打到尾，但是真的很无聊啊。      0

In [32]:
print(data['Label'].value_counts())

Label
1    1279892
0     845164
Name: count, dtype: int64

In [ ]:

print(f"总数据量: {len(data)}")

train_val_df, test_df = train_test_split(
    data,
    test_size=0.1,          
    random_state=42,
    stratify=data['Label']
)


train_df, val_df = train_test_split(
    train_val_df,
    test_size=0.11,
    random_state=42,
    stratify=train_val_df['Label']
)

print(f"训练集数量: {len(train_df)}")
print(f"验证集数量: {len(val_df)}")
print(f"测试集数量: {len(test_df)}")

总数据量: 2125056
训练集数量: 1702169
验证集数量: 210381
测试集数量: 212506

In [51]:
print(type(train_df))
train_df[:5]

<class 'pandas.DataFrame'>

                                 Comment  Label
1343440                             舒淇很美      1
675587                       烂，啊……烂到无话可说      0
1831313         变形金刚算什么。。。全片最帅的是邹市明好伐。。。      0
515811    笑料密集的国产喜剧，同样讲到中年危机却比港囧要接地气儿的多～      1
1825883          有史以来第一部，没播完就提前离场的超级垃圾片。      0

In [52]:
with open('../data/processed_data.csv', 'w', encoding='utf-8', newline='') as f:
    data.to_csv(f, index=False)

with open('../data/train_data.csv', 'w', encoding='utf-8', newline='') as f:
    train_df.to_csv(f, index=False)

with open('../data/val_data.csv', 'w', encoding='utf-8', newline='') as f:
    val_df.to_csv(f, index=False)

with open('../data/test_data.csv', 'w', encoding='utf-8', newline='') as f:
    test_df.to_csv(f, index=False)